# Build directories and artifacts
build/
b/
out/
*.o
*.a
*.so

# OS system files
.DS_Store

# Editor configs
.vscode/
.idea/

# Formatting rules (local only)
.clang-format
.opendlv-clangformat

# Logs and temp files
*.log
*.swp
*~

# Docker artifacts
*.tar
*.img
